.text-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    overflow: hidden;
}

.text-lines__amount__2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
}

.text-lines__amount__3 {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
}