.article {
	--article-width: 44rem;
}

/* .article__image {
	max-width: 768px !important;
	width: 100%;
	height: auto;
} */

.article__info-container {
	/* max-width: 42em !important; */
	max-width: var(--article-width);
}
.article__preview-text {
	/* max-width: 42em; */
	max-width: var(--article-width);
}

.article__detail-text {
	overflow-wrap: break-word;
}

.article__detail-text h1,
.article__detail-text h2,
.article__detail-text h3,
.article__detail-text h4,
.article__detail-text h5,
.article__detail-text h6 {
	max-width: var(--article-width);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.article__detail-text p,
.article__detail-text ul,
.article__detail-text ol {
	max-width: var(--article-width);
	margin-left: auto;
	margin-right: auto;
}

.article__detail-text blockquote {
	font-style: italic;
	font-weight: 500;
}

.article__detail-text img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--article-width);
	width: 100%;
	height: auto;
}

pre code {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
