/* div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
} */

.certificate__image {
	max-width: 384px;
	max-height: 384px;
	object-fit: contain;
}

.certificate__heading {
	min-height: 52.6094px;
}

.certificate__text {
	min-height: 48px;
}